@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-dark-100;
}

.base-bg-color {
  @apply dark:bg-dark-100;
}
.base-bg-layer-color {
  @apply dark:bg-dark-200;
}
.base-border-color {
  @apply dark:border-dark-300;
}

.text-color {
  @apply text-gray-800 dark:text-gray-100;
}

.icon-color {
  @apply text-gray-800 dark:text-gray-100 hover:text-gray-500 hover:dark:text-gray-300;
}

.sentence-color {
  @apply text-gray-800 dark:text-gray-300;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
